* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0; 
    background-color: lightsteelblue;
}

.container{
    margin: 1rem; 
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem; 
    padding: 0 1rem; 
}

.site-title {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.nav ul {
    padding: 0; 
    margin: 0; 
    list-style: none; 
    display: flex; 
    gap: 1rem; 
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%; 
    display: flex; 
    align-items: center;
    padding: .25rem; 

}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

.fa-solid fa-cross{
    color: aquamarine;
}

.bio{
    font-family: 'Times New Roman', Times, serif;
    
}

.interest-page{
    font-family: Copperplate;
    font-size: 30px;
    
}


.food{
    font-family: Lavenda;
}

.progress-date{
    font-family: 'Courier New', Courier, monospace;
}

.academic-header{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

.retrieve-stuff{
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

.academic-link{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-decoration: underline;
}